<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Panel de Administrador</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
  <section style="width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 2rem;">
    <h1 style="margin-bottom: 1rem;">Panel de administrador</h1>
    <p>Bienvenido, <span th:text="${username}">admin</span> 👑</p>

    <div style="margin-top: 2rem;">
      <a class="create-button" th:href="@{/admin/vehiculo}">Gestión de Vehículos</a>
      <a class="create-button" th:href="@{/admin/clientes}">Gestión de Clientes</a>
      <a class="create-button" th:href="@{/admin/alquiler}">Gestión de Alquileres</a>
    </div>
  </section>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
