<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir Alquiler</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<h2 class="franja">Agregar Nuevo Alquiler</h2>

<form th:action="@{/alquiler/guardar}" th:object="${alquiler}" method="post">

    <label for="vehiculo">Vehículo (Matrícula):</label>
    <select id="vehiculo" th:field="*{vehiculo}" required>
        <option th:each="vehiculo : ${vehiculos}"
                th:value="${vehiculo.id}"
                th:text="${vehiculo.matricula}">
        </option>
    </select>

    <label for="cliente">Cliente (DNI):</label>
    <select id="cliente" th:field="*{cliente}" required>
        <option th:each="cliente : ${clientes}"
                th:value="${cliente.id}"
                th:text="${cliente.dni}">
        </option>
    </select>

    <label for="fechaInicio">Fecha de Inicio:</label>
    <input type="date" id="fechaInicio" th:field="*{fechaInicio}" required>

    <label for="fechaFin">Fecha de Fin:</label>
    <input type="date" id="fechaFin" th:field="*{fechaFin}" required>

    <label for="precio">Precio (€):</label>
    <input type="number" step="0.01" id="precio" th:field="*{precio}" required>

    <button type="submit">Guardar</button>
</form>

<div class="button-container">
    <a th:href="@{/alquiler}" class="create-button">Volver a la lista de Alquiler</a>
</div>
</body>
</html>