<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir Alquiler</title>
</head>
<body>
<h1>Agregar Nuevo alquiler</h1>

<form th:action="@{/alquiler/guardar}" th:object="${alquiler}" method="post">
    <label for="vehiculo">Matrícula:</label>
    <select id="vehiculo" name="vehiculo" th:field="*{vehiculo}" required>
        <option th:each="vehiculo : ${vehiculos}" th:value="${vehiculo.id}" th:text="${vehiculo.matricula}"></option>
    </select>
    <label for="cliente">Matrícula:</label>
    <select id="cliente" name="cliente" th:field="*{cliente}" required>
        <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.dni}"></option>
    </select>
    <br>

    <button type="submit">Guardar</button>
</form>

<br>
<a href="/vehiculo">Volver a la lista de Vehículos</a>
</body>
</html>