<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editar Alquiler</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<h2 class="franja">Editar Alquiler</h2>

<form class="formCustom" th:action="@{/admin/alquiler/actualizar}" th:object="${alquiler}" method="post">
  <input type="hidden" th:field="*{id}" />

  <label for="vehiculo">Vehículo:</label>
  <select id="vehiculo" th:field="*{vehiculo}" required>
    <option th:each="vehiculo : ${vehiculos}" th:value="${vehiculo.id}" th:text="${vehiculo.matricula}"
            th:selected="${vehiculo.id == alquiler.vehiculo.id}"></option>
  </select>

  <label for="cliente">Cliente:</label>
  <select id="cliente" th:field="*{cliente}" required>
    <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}"
            th:selected="${cliente.id == alquiler.cliente.id}"></option>
  </select>

  <label for="fechaInicio">Fecha Inicio:</label>
  <input type="date" id="fechaInicio" th:field="*{fechaInicio}" required/>
  <span th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" style="color: red;"></span>

  <label for="fechaFin">Fecha Fin:</label>
  <input type="date" id="fechaFin" th:field="*{fechaFin}" required/>
  <span th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" style="color: red;"></span>

  <label for="precio">Precio:</label>
  <input type="number" id="precio" step="0.01" th:field="*{precio}" required/>
  <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" style="color: red;"></span>

  <span th:if="${#fields.hasErrors('fechaValida')}" th:errors="*{fechaValida}" style="color: red;"></span>
  <button type="submit">Guardar cambios</button>
</form>

<div class="button-container">
  <a th:href="@{/admin/alquiler}" class="create-button">Volver a la lista de Alquiler</a>
</div>
</body>
</html>