<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista alquileres</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-container">
        <div class="header-left">
            <div class="logo">
                <a th:href="@{/}" class="logo-link">Alquiler<br>de Vehículos</a>
            </div>
            <nav>
                <a href="/vehiculo" class="nav-link">Vehículo</a>
                <a href="/clientes" class="nav-link">Cliente</a>
                <a href="/alquiler" class="nav-link">Alquiler</a>
            </nav>
        </div>
        <div class="header-right">
            <span>User</span>
            <form th:action="@{/logout}" method="post">
                <button class="logout">Cerrar sesión</button>
            </form>
        </div>
    </div>
</header>
<main style="width: 100%; height: 100%;">
    <div style="width: 100%;">
        <h2 class="franja">Lista de Alquiler</h2>
        <div class="button-container">
        <a href="/alquiler/nuevo" class="create-button">Agregar Nuevo Alquiler</a>
        </div>
    </div>
    <section style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Vehículo</th>
                <th>Cliente</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Precio (€)</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="alquiler : ${alquileres}">
                <td th:text="${alquiler.id}"></td>
                <td th:text="${alquiler.vehiculo != null ? alquiler.vehiculo.marca + ' ' + alquiler.vehiculo.modelo + ' (' + alquiler.vehiculo.matricula + ')' : 'Vehículo no disponible'}"></td>
                <td th:text="${alquiler.cliente != null ? alquiler.cliente.nombre + ' (' + alquiler.cliente.dni + ')' : 'Cliente no disponible'}"></td>
                <td th:text="${alquiler.fechaInicio}"></td>
                <td th:text="${alquiler.fechaFin}"></td>
                <td th:text="${#numbers.formatDecimal(alquiler.precio, 1, 2).replace('.', ',')} + ' €'"></td>
                <td class="opciones">
                    <a th:href="@{/alquiler/editar/{id}(id=${alquiler.id})}" class="icono editar" title="Editar">✏️</a>
                    <a th:href="@{/alquiler/eliminar/{id}(id=${alquiler.id})}" class="icono eliminar" title="Eliminar" onclick="return confirm('¿Seguro que quieres eliminar este vehículo?');">❌</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<footer>
    <p>BackSpringBoys - 2025 - uoc.edu</p>
</footer>

</body>
</html>