<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista alquileres</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header-container">
        <div class="header-left">
            <div class="logo">Alquiler<br>de Vehículos</div>
            <nav>
                <a href="/vehiculo" class="nav-link">Vehículo</a>
                <a href="/clientes" class="nav-link">Cliente</a>
                <a href="/alquiler" class="nav-link">Alquiler</a>
            </nav>
        </div>
        <div class="header-right">
            <span>User</span>
            <button class="logout">Log out</button>
        </div>
    </div>
</header>

        <h2 class="franja">Lista de Alquiler</h2>
        <div class="button-container">
        <a href="/alquiler/nuevo" class="create-button">Agregar Nuevo Alquiler</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Vehículo</th>
                <th>Cliente</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Precio (€)</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="alquiler : ${alquileres}">
                <td th:text="${alquiler.id}"></td>
                <td th:text="${alquiler.vehiculo != null ? alquiler.vehiculo.marca + ' ' + alquiler.vehiculo.modelo + ' (' + alquiler.vehiculo.matricula + ')' : 'Vehículo no disponible'}"></td>
                <td th:text="${alquiler.cliente != null ? alquiler.cliente.nombre + ' (' + alquiler.cliente.dni + ')' : 'Cliente no disponible'}"></td>
                <td th:text="${alquiler.fechaInicio}"></td>
                <td th:text="${alquiler.fechaFin}"></td>
                <td th:text="${#numbers.formatDecimal(alquiler.precio, 1, 2).replace('.', ',')} + ' €'"></td>
                <td class="opciones">
                    <a th:href="@{/alquiler/editar/{id}(id=${alquiler.id})}" class="icono editar" title="Editar">✏️</a>
                    <a th:href="@{/alquiler/eliminar/{id}(id=${alquiler.id})}" class="icono eliminar" title="Eliminar" onclick="return confirm('¿Seguro que quieres eliminar este vehículo?');">❌</a>
                </td>
            </tr>
            </tbody>
        </table>
<footer>
    <p>BackSpringBoys - 2025 - uoc.edu</p>
</footer>

</body>
</html>