<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header-container">
        <div class="header-left">
            <div class="logo">Alquiler<br>de Vehículos</div>
            <nav>
                <a href="/vehiculo" class="nav-link">Vehículo</a>
                <a href="/clientes" class="nav-link">Cliente</a>
                <a href="/alquiler" class="nav-link">Alquiler</a>
            </nav>
        </div>
        <div class="header-right">
            <span>User</span>
            <button class="logout">Log out</button>
        </div>
    </div>
</header>

<h2 class="franja">Lista de Clientes</h2>

<!-- Botón de crear cliente -->
<div class="button-container">
    <a th:href="@{/clientes/nuevo}" class="create-button">Añadir cliente</a>
</div>

<table class ="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Fecha de Nacimiento</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.id}"></td>
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.apellido1}"></td>
        <td th:text="${cliente.dni}"></td>
        <td th:text="${cliente.fechaNacimiento}"></td>
        <td class="opciones">
            <a th:href="@{/clientes/editar/{id}(id=${cliente.id})}" class="icono editar" title="Editar">✏️</a>

            <a th:href="@{/clientes/eliminar/{id}(id=${cliente.id})}" class="icono eliminar" title="Eliminar" onclick="return confirm('¿Seguro que quieres eliminar este vehículo?');">
                ❌
            </a>
        </td>
    </tr>
    </tbody>
</table>

<footer>
    <p>BackSpringBoys - 2025 - uoc.edu</p>
</footer>
</body>
</html>