<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main style="width: 100%; height: 100%;">
    <div style="width: 100%;">
        <h2 class="franja">Lista de Clientes</h2>
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="button-container">
            <a th:href="@{/admin/clientes/nuevo}" class="create-button">Añadir cliente</a>
        </div>
    </div>
    <section style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Fecha de Nacimiento</th>
                    <th th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido1}"></td>
                    <td th:text="${cliente.dni}"></td>
                    <td th:text="${cliente.fechaNacimiento}"></td>
                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="opciones">
                        <a th:href="@{/admin/clientes/editar/{id}(id=${cliente.id})}" class="icono editar" title="Editar">✏️</a>

                        <a th:href="@{/admin/clientes/eliminar/{id}(id=${cliente.id})}" class="icono eliminar" title="Eliminar" onclick="return confirm('¿Seguro que quieres eliminar este vehículo?');">
                            ❌
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
<footer>
    <p>BackSpringBoys - 2025 - uoc.edu</p>
</footer>
</body>
</html>