<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi Usuario</title>
  <link rel="stylesheet" th:href="@{/perfil.css}">
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container-perfil">
  <div class="card-perfil">
    <h2 class="nombre-perfil" th:text="${cliente.nombre}">Nombre del usuario</h2>
    <p class="email-perfil" th:text="${cliente.email}">email@example.com</p>
    <p class="fecha-perfil">
      <strong>Fecha de nacimiento:</strong>
      <span th:text="${#temporals.format(cliente.fechaNacimiento, 'dd/MM/yyyy')}">01/01/2000</span>
    </p>

    <div class="acciones-perfil">
<!-- Si alguien quiere implementar el cambio de contraseña  -->
<!--      <a th:href="@{/user/perfil/cambiar-password}" class="btn-perfil btn-secundario-perfil">Cambiar contraseña</a>-->
    </div>
  </div>
</div>
</body>
</html>