<!-- fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<header th:fragment="header">
    <div class="header-container">
        <div class="header-left">
            <div class="logo">
                <a th:href="@{/}" class="logo-link">Alquiler<br>de Vehículos</a>
            </div>
            <nav>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                   th:href="@{/admin/vehiculo}" class="nav-link">Vehículo</a>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                   th:href="@{/admin/clientes}" class="nav-link">Cliente</a>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                   th:href="@{/admin/alquiler}" class="nav-link">Alquiler</a>

                <a th:if="${#authorization.expression('hasRole(''USER'')')}"
                   th:href="@{/user/vehiculo}" class="nav-link">Vehículo</a>
                <a th:if="${#authorization.expression('hasRole(''USER'')')}"
                   th:href="@{/user/alquiler}" class="nav-link">Alquiler</a>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                   th:href="@{/admin/dashboard}" class="nav-link">Panel Admin</a>
                <a th:if="${#authorization.expression('hasRole(''USER'')')}"
                   th:href="@{/user/home}" class="nav-link">Panel Usuario</a>
            </nav>
        </div>

        <div class="header-right">
            <div sec:authorize="isAuthenticated()" style="display: flex; flex-direction: row;">
                <a th:href="@{/user/perfil}" th:text="${#authentication.name}" style="text-align: center; justify-self: center; align-self: center; color: var(--light);">Usuario</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="login">Cerrar sesión</button>
                </form>
            </div>

            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="login">Iniciar sesión</a>
                <a th:href="@{/register}" class="register">Registrarse</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>