<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Vehículo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<h2 class="franja">Agregar Nuevo Vehículo</h2>

<form th:action="@{/vehiculo/guardar}" th:object="${vehiculo}" method="post">
    <label for="matricula">Matrícula:</label>
    <input type="text" id="matricula" name="matricula" th:field="*{matricula}" required>

    <label for="marca">Marca:</label>
    <input type="text" id="marca" name="marca" th:field="*{marca}" required>

    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" name="modelo" th:field="*{modelo}" required>

    <label for="foto">Foto:</label>
    <input type="text" id="foto" name="foto" th:field="*{foto}">

    <button type="submit">Guardar</button>
</form>

<div class="button-container">
<a th:href="@{/vehiculo}" class="create-button">Volver a la lista de Vehículos</a>
</div>
<!--
<a href="/vehiculo" class="create-button">Volver a la lista de Vehículos</a> -->
</body>
</html>