<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Vehículo</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<h2 class="franja">Editar Vehículo</h2>

<form class="formCustom" th:action="@{/admin/vehiculo/actualizar}" th:object="${vehiculo}" method="post">
    <input type="hidden" th:field="*{id}" />


    <label>Matrícula:</label>
    <input type="text" th:field="*{matricula}" required/>
    <span th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}" style="color: red;"></span>

    <label>Marca:</label>
    <input type="text" th:field="*{marca}" required/>
    <span th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}" style="color: red;"></span>

    <label>Modelo:</label>
    <input type="text" th:field="*{modelo}" required/>
    <span th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}" style="color: red;"></span>

    <!--
    <label>Foto (URL):</label>
    <input type="text" th:field="*{foto}" /> -->

    <button type="submit">Guardar cambios</button>
</form>

<div class="button-container">
    <a th:href="@{../}" class="create-button">Volver a la lista de Vehículos</a>
</div>
</body>
</html>