<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Vehículo</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<h2 class="franja">Editar Vehículo</h2>

<form th:action="@{/vehiculo/actualizar}" th:object="${vehiculo}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Matrícula:</label>
    <input type="text" th:field="*{matricula}" required/>

    <label>Marca:</label>
    <input type="text" th:field="*{marca}" required/>

    <label>Modelo:</label>
    <input type="text" th:field="*{modelo}" required/>

    <label>Foto (URL):</label>
    <input type="text" th:field="*{foto}" />

    <button type="submit">Guardar cambios</button>
</form>

<div class="button-container">
<a th:href="@{/vehiculo}" class="create-button">Volver a la lista de Vehículos</a>
</div>
</body>
</html>