<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Lista de Vehículos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main style="width: 100%; height: 100%;">
    <div style="width: 100%;">
        <h2 class="franja">Lista de Vehículos</h2>
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="button-container">
            <a th:href="@{/admin/vehiculo/nuevo}" class="create-button">Añadir vehículo</a>
        </div>
    </div>
    <section style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
        <table class="table">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vehiculo : ${vehiculos}">
                    <td th:text="${vehiculo.matricula}"></td>
                    <td th:text="${vehiculo.marca}"></td>
                    <td th:text="${vehiculo.modelo}"></td>

                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}"  class="opciones">
                        <a th:href="@{/admin/vehiculo/editar/{id}(id=${vehiculo.id})}" class="icono editar" title="Editar">
                            ✏️<i class="fas fa-edit"></i>
                        </a>
                        <a th:href="@{/admin/vehiculo/eliminar/{id}(id=${vehiculo.id})}" class="icono eliminar" title="Eliminar" onclick="return confirm('¿Seguro que quieres eliminar este vehículo?');">
                            ❌
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
<footer>
    <p>BackSpringBoys - 2025 - uoc.edu</p>
</footer>
</body>
</html>
