<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops! Error</title>
    <link rel="stylesheet" href="/errorStyle.css">
</head>
<body>
<div class="error-container">
    <div class="error-content">
        <div class="error-image">
            <img src="https://imgs.search.brave.com/cgk9xzthdkz1xsFG0vWIp3UF6mNyq8ND7q-NyZdq6Ps/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxOS8x/MC8yOS8yMC81Mi9y/b2JvdC00NTg4MTMy/XzEyODAuanBn" alt="Confused robot" class="robot-img">
        </div>
        <h1 class="error-title">Ups! Esto no me lo esperaba🤖</h1>
        <p class="error-message">Parece que nuestro robot ha tenido un pequeño fallo. ¡Estamos reparando sus circuitos!</p>
        <button onclick="window.location.href='/'" class="retry-button">Volver a la página principal</button>
        <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
    </div>
</div>
</body>
</html>