<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="login-wrapper">
        <div class="car-image">
            <img src="/img/logo.png" alt="Logo coche" />
        </div>
        <div class="cta-cnt">
            <h1 class="cta-title">Alquiler de Vehículos</h1>
            <div class="home-action-cnt">
                <a th:href="@{/login}" class="register-link">Iniciar sesión</a>
                <a th:href="@{/register}" class="register-link">Crear una cuenta</a>
            </div>
        </div>
    </div>
</main>
    <footer>
        <p>BackSpringBoys - 2025 | <a href="https://fp.uoc.fje.edu/es/estudios" target="_blank">UOC</a></p>
    </footer>
</body>
</html>