<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
</head>
<body>
<h2>Crear cuenta</h2>
<div class="login-wrapper">
<form class="login-form" th:action="@{/registro}" th:object="${cliente}" method="post">
    <label>Usuario: <input type="text" th:field="*{username}"  placeholder="Usuario" /></label><br/>
    <label>Contraseña: <input type="password" th:field="*{password}" /></label><br/>
    <label>Fecha de nacimiento: <input type="date" th:field="*{fechaNacimiento}"placeholder="Contraseña" /></label><br/>
    <button type="submit">Registrarse</button>
</form>
</div>
<footer>
    <p>BackSpringBoys - 2025 | <a href="https://fp.uoc.fje.edu/es/estudios" target="_blank">UOC</a></p>
</footer>
</body>
</html>